@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudSwitch @bind-Checked="@_isDarkMode" Color="Color.Primary" Class="ma-4" T="bool" Label="Dark Mode" />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudImage Src="/eldenring-logo.png" Height="63" Width="190" />
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body

            <footer>
                <p>
                    &copy; Copyright @DateTime.Now.Year negator13, All Rights Reserved. App Version: <strong>0.3.1.</strong> Patch Version: <strong>1.0.3</strong>
                    <br />
                    Please contact <MudLink Href="https://www.reddit.com/user/negator13">u/negator13</MudLink> with questions, suggestions, or bug reports.
                    <br />
                    Thanks to Phil on reddit for providing data and assistance. Check out his <MudLink Href=https://www.reddit.com/r/Eldenring/comments/tbco46/elden_ring_weapon_calculator>Elden Ring Weapon Calculator</MudLink>!
                </p>
            </footer>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode = true;
    private MudThemeProvider _mudThemeProvider;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    }
