@page "/Changelog"
@using EldenRingBlazor.Data

<PageTitle>Changelog</PageTitle>

<MudText Typo="Typo.h2">Changelog</MudText>

<MudGrid>
    <MudItem>
        <MudSimpleTable Style="overflow-x: auto;">
            <thead>
                <tr>
                    <th>Patch Version</th>
                    <th>App Version</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><strong>@VersionInfo.PatchVersion.v1_03</strong></td>
                    <td><strong>@VersionInfo.AppVersion.v0_3_0</strong></td>
                    <td>
                        <ul>
                            <li>Big styling overhaul, implemented Dark mode</li>
                            <li>Improved AR Calculator UI/UX</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>@VersionInfo.PatchVersion.v1_03</strong></td>
                    <td><strong>@VersionInfo.AppVersion.v0_2_0</strong></td>
                    <td>
                        <ul>
                            <li>Condensed input forms on AR Calculator for ease of use</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>@VersionInfo.PatchVersion.v1_03</strong></td>
                    <td><strong>@VersionInfo.AppVersion.v0_1_1</strong></td>
                    <td>
                        <ul>
                            <li>Implemented typeahead text search for Weapon on Calculator page</li>
                            <li>Styling updates (reverted to light theme for now due to issues with dark theme)</li>
                            <li>Added Changelog and Acknowledgements, changed route for AR Calculator from /calculatear to /calculator</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><strong>@VersionInfo.PatchVersion.v1_03</strong></td>
                    <td><strong>@VersionInfo.AppVersion.Initial</strong></td>
                    <td>Initial Release</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>