@page "/optimizer"
@page "/optimize"

@using EldenRingBlazor.Services
@using EldenRingBlazor.Services.AttackRating
@using EldenRingBlazor.Services.BuildPersistence
@using EldenRingBlazor.Services.BuildPlanner
@using EldenRingBlazor.Services.Equipment
@using EldenRingBlazor.Components
@inject BuildPlannerService CalculationService
@inject EquipmentService EquipmentService
@inject SaveBuildService SaveBuildService
@inject NavigationManager NavigationManager

<PageTitle>Starting Class Optimizer</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudText Typo="Typo.h4" GutterBottom="true">Starting Class Optimizer</MudText>
    <MudText Typo="Typo.body1">
        Choose the minimum values for the stats you care about, and leave the rest set to 0. Then press Optimize to calculate the most efficient Starting Class.
    </MudText>
    <br />
    <MudGrid Spacing="6">
        <MudItem sm="12" md="4">
            <EditForm EditContext="@EditContext" OnValidSubmit="@HandleValidSubmit" Context="NewContext">

                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick=Optimize>Optimize</MudButton>

                <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick=Reset>Reset</MudButton>

                <MudGrid>

                    <MudItem xs="12">
                        <MudSelect Label="Starting Class" T="string" Variant="Variant.Text"
                                   Value="@_input.StartingClass?.Name">
                        </MudSelect>
                    </MudItem>

                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Vigor" Variant="Variant.Outlined" Value="@_input.EffectiveVigor" ValueChanged="UpdateVigor" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Mind" Variant="Variant.Outlined" Value="@_input.EffectiveMind" ValueChanged="UpdateMind" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Endurance" Variant="Variant.Outlined" Value="@_input.EffectiveEndurance" ValueChanged="UpdateEndurance" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Strength" Variant="Variant.Outlined" Value="@_input.EffectiveStrength" ValueChanged="UpdateStrength" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Dexterity" Variant="Variant.Outlined" Value="@_input.EffectiveDexterity" ValueChanged="UpdateDexterity" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Intelligence" Variant="Variant.Outlined" Value="@_input.EffectiveIntelligence" ValueChanged="UpdateIntelligence" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Faith" Variant="Variant.Outlined" Value="@_input.EffectiveFaith" ValueChanged="UpdateFaith" Min=0 Max=99 />
                    </MudItem>
                    <MudItem xs="6">
                        <MudNumericField T="int" Label="Arcane" Variant="Variant.Outlined" Value="@_input.EffectiveArcane" ValueChanged="UpdateArcane" Min=0 Max=99 />
                    </MudItem>
                </MudGrid>
            </EditForm>
        </MudItem>

        <MudItem sm="12" md="4">

            <MudPaper Class="d-flex flex-column" Outlined="true">
                <MudList Clickable="true">
                    <MudListItem>
                        <div class="d-flex">
                            <MudText>Level</MudText>
                            <MudText Inline="true" Class="ml-auto"><b>@(_input.DisplayLevel < 0 ? 0 : _input.DisplayLevel)</b></MudText>
                        </div>
                    </MudListItem>
                    <MudListItem>
                        <div class="d-flex">
                            <MudText>HP</MudText>
                            <MudText Inline="true" Class="ml-auto"><b>@_calculation.DisplayHp</b></MudText>
                        </div>
                    </MudListItem>
                    <MudListItem>
                        <div class="d-flex">
                            <MudText>FP</MudText>
                            <MudText Inline="true" Class="ml-auto"><b>@_calculation.DisplayFp</b></MudText>
                        </div>
                    </MudListItem>
                    <MudListItem>
                        <div class="d-flex">
                            <MudText>Stamina</MudText>
                            <MudText Inline="true" Class="ml-auto"><b>@_calculation.DisplayStamina</b></MudText>
                        </div>
                    </MudListItem>
                </MudList>

            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [Parameter]
    public string? BuildId { get; set; }

    private EditContext? EditContext;
    private CharacterStatsCalculation _calculation = new CharacterStatsCalculation();
#pragma warning disable CS8618
    private BuildPlannerInput _input;
#pragma warning restore nullable

    protected override void OnInitialized()
    {
        _input = new BuildPlannerInput(EquipmentService);
        EditContext = new EditContext(_input);
        HandleValidSubmit();
    }

    protected override async Task OnParametersSetAsync()
    {
        _input = new BuildPlannerInput(EquipmentService)
            {
                Vigor = 0,
                Mind = 0,
                Endurance = 0,
                Strength = 0,
                Dexterity = 0,
                Intelligence = 0,
                Faith = 0,
                Arcane = 0,
            };

        EditContext = new EditContext(_input);

        await base.OnParametersSetAsync();
    }

    private void UpdateVigor(int vig)
    {
        if (_input == null)
        {
            return;
        }

        _input.Vigor = vig - _input.VigorBonus;
        HandleValidSubmit();
    }

    private void UpdateMind(int mind)
    {
        if (_input == null)
        {
            return;
        }

        _input.Mind = mind - _input.MindBonus;
        HandleValidSubmit();
    }

    private void UpdateEndurance(int end)
    {
        if (_input == null)
        {
            return;
        }

        _input.Endurance = end - _input.EnduranceBonus;
        HandleValidSubmit();
    }

    private void UpdateStrength(int str)
    {
        if (_input == null)
        {
            return;
        }

        _input.Strength = str - _input.StrengthBonus;
        HandleValidSubmit();
    }

    private void UpdateDexterity(int dex)
    {
        if (_input == null)
        {
            return;
        }

        _input.Dexterity = dex - _input.DexterityBonus;
        HandleValidSubmit();
    }

    private void UpdateIntelligence(int inte)
    {
        if (_input == null)
        {
            return;
        }

        _input.Intelligence = inte - _input.IntelligenceBonus;
        HandleValidSubmit();
    }

    private void UpdateFaith(int fth)
    {
        if (_input == null)
        {
            return;
        }

        _input.Faith = fth - _input.FaithBonus;
        HandleValidSubmit();
    }

    private void UpdateArcane(int arc)
    {
        if (_input == null)
        {
            return;
        }

        _input.Arcane = arc - _input.ArcaneBonus;
        HandleValidSubmit();
    }

    private void HandleValidSubmit()
    {
        if (_input == null)
        {
            return;
        }

        CharacterStatsCalculation? newCalc = null;

        try
        {
            newCalc = CalculationService.CalculateStats(_input);
        }
        catch
        {

        }

        if (newCalc != null)
        {
            _calculation = newCalc;
        }
    }

    private void Reset()
    {
        _input = new BuildPlannerInput(EquipmentService)
            {
                Vigor = 0,
                Mind = 0,
                Endurance = 0,
                Strength = 0,
                Dexterity = 0,
                Intelligence = 0,
                Faith = 0,
                Arcane = 0,
            };

        CharacterStatsCalculation? newCalc = null;

        try
        {
            newCalc = CalculationService.CalculateStats(_input);
        }
        catch
        {

        }

        if (newCalc != null)
        {
            _calculation = newCalc;
        }
    }

    private void Optimize()
    {
        if (_input == null)
        {
            return;
        }

        var newCalc = CalculationService.Optimize(_input);

        if (newCalc.Item2 != null)
        {
            _input = newCalc.Item1;
            _calculation = newCalc.Item2;
        }
    }
}
